## Exploracion de dataset

In [20]:
import pandas as pd
import re

In [2]:
df = pd.read_json('https://raw.githubusercontent.com/arielRas/DataAdqusition/master/API%20MercadoLibre/MeliCarPublications.json')
df.head(3)

,id,category_id,title,condition,car_year,brand,model,version,engine,engine_power,...,transmission,currency,price,seller_id,seller_nickname,is_car_shop,seller_country,seller_state,seller_city,seller_neighborhood
0,MLA1413685801,MLA1744,Volkswagen Gol 1.4 3ptas Año 2013 - Liv Motors,Usado,2013,Volkswagen,Gol,1.4 Power 83cv 3 p,1.4,83 hp,...,Manual,ARS,6000000,780050555,LIVMOTORS 2,False,Argentina,Bs.As. G.B.A. Norte,Vicente López,Munro
1,MLA1406864357,MLA1744,Volkswagen Gol 2012 1.4 Power Ps+ac 83cv,Usado,2012,Volkswagen,Gol,1.4 Power Ps+ac 83cv,1.4,83 hp,...,Manual,USD,10500,210095605,MASSEYGROUP EXCLUSIVOS,False,Argentina,Bs.As. G.B.A. Norte,Vicente López,Olivos
2,MLA1677544030,MLA1744,Volkswagen Gol Power 3p 2012 Financiación Con Dni,Usado,2012,Volkswagen,Gol,1.4 Power Ps+ac 83cv,1.4,83 hp,...,Manual,ARS,5800000,5571520,DASAUTOS2014,False,Argentina,Bs.As. G.B.A. Sur,Berazategui,Berazategui

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12196 entries, 0 to 12195
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   12196 non-null  object
 1   category_id          12196 non-null  object
 2   title                12196 non-null  object
 3   condition            12196 non-null  object
 4   car_year             12196 non-null  int64
 5   brand                12196 non-null  object
 6   model                12196 non-null  object
 7   version              12196 non-null  object
 8   engine               11885 non-null  object
 9   engine_power         11349 non-null  object
 10  doors                12196 non-null  int64
 11  km                   12196 non-null  object
 12  fuel_type            12196 non-null  object
 13  traction_control     11809 non-null  object
 14  passenger_capacity   11275 non-null  float64
 15  transmission         11906 non-null  object
 16  currency             12196 non-null  object
 17  price                12196 non-null  int64
 18  seller_id            12196 non-null  int64
 19  seller_nickname      12196 non-null  object
 20  is_car_shop          12196 non-null  bool
 21  seller_country       12196 non-null  object
 22  seller_state         12196 non-null  object
 23  seller_city          12196 non-null  object
 24  seller_neighborhood  7477 non-null   object
dtypes: bool(1), float64(1), int64(4), object(19)
memory usage: 2.3+ MB

In [5]:
df.describe()

,car_year,doors,passenger_capacity,price,seller_id
count,12196.000000,12196.000000,11275.000000,1.219600e+04,1.219600e+04
mean,2015.917678,4.354870,4.978271,1.054430e+07,3.439563e+08
std,6.109399,0.676806,0.249476,1.309497e+07,3.748558e+08
min,1988.000000,2.000000,2.000000,1.230000e+02,7.465000e+03
25%,2012.000000,4.000000,5.000000,1.560000e+04,9.898473e+07
50%,2016.000000,4.000000,5.000000,7.500000e+06,2.014092e+08
75%,2022.000000,5.000000,5.000000,1.675000e+07,4.105601e+08
max,2024.000000,5.000000,7.000000,5.860000e+08,1.713678e+09

## DataWrangling

### Variable ***condition***

In [3]:
df.condition.unique()

array(['Usado', 'Nuevo'], dtype=object)

In [7]:
df.rename(columns={'condition': 'is_new'}, inplace=True)
df.is_new = df.is_new.str.replace('Usado', '0')
df.is_new = df.is_new.str.replace('Nuevo', '1')
df.is_new = df.is_new.astype(int)
df.is_new.describe()

count    12196.000000
mean         0.204165
std          0.403107
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: is_new, dtype: float64

### Variable ***model***

In [30]:
df.model.unique()

array(['Gol', 'Gol Trend', 'Up!', 'Bora', 'Vento', 'Polo', 'Amarok',
       'Corsa', 'Onix', 'Agile', 'Prisma', 'Cruze', 'Aveo G3', 'Aveo',
       'Tracker', 'Clio', 'Sandero', 'Fluence', 'Logan', 'Kangoo',
       'Kangoo Express', 'Partner Patagónica', 'Captur', 'Duster',
       'CAPTUR INTENS 2.0', 'CAPTUR LIFE 1.6', '206', '207', '208', '307',
       '308', '407', '408', 'Cronos', 'Toro', 'Argo', 'Fiorino', 'Pulse',
       '2022', 'Strada', 'Palio', 'Siena', 'Uno', 'Fiesta', 'Ecosport',
       'Ka', 'Ranger', 'Ranger Raptor', 'Nueva Ranger',
       'RANGER XLS AT AWD 3.0 V6 250 CV',
       'RANGER XL 2.0 TURBO DIESEL CD 4X4 MANUAL',
       'FORD RANGER LIMITED + 3.0 V6 DIESEL CD 4X4 10AT #GP', 'Focus III',
       'Fiesta Kinetic Design', 'Focus 2', 'Focus', 'Focus II',
       'Ford focus titanium', 'Focus 3', 'Etios', 'Hilux Pick-Up',
       'Hilux', 'Hilux Chassi', 'SW4', 'Hilux SW4', '4x4', 'Corolla',
       'Yaris', 'Civic'], dtype=object)

In [42]:
df.model = df.model.str.replace(r'.*Argo.*|.*ARGO.*', 'Argo', regex=True)
df.model = df.model.str.replace(r'.*Capture.*|.*CAPTUR.*', 'Captur', regex=True)
df.model = df.model.str.replace(r'.*Focus.*|.*FOCUS.*|.*focus.*', 'Focus', regex=True)
df.model = df.model.str.replace(r'.*Ranger.*|.*RANGER.*', 'Ranger', regex=True)
df.model = df.model.str.replace(r'.*Hilux.*|.*HILUX.*', 'Hilux', regex=True)
df.model = df.model.str.replace(r'.*Fiesta.*|.*FIESTA.*', 'Fiesta', regex=True)
df.model = df.model.str.replace(r'.*Aveo.*|.*AVEO.*', 'Aveo', regex=True)
df.model = df.model.str.replace('SW4', 'Hilux')
df.model = df.model.str.replace('Kangoo Express', 'kangoo')
df.model = df.model.str.replace('Partner Patagónica', 'Partner')
df.model.unique()

array(['Gol', 'Gol Trend', 'Up!', 'Bora', 'Vento', 'Polo', 'Amarok',
       'Corsa', 'Onix', 'Agile', 'Prisma', 'Cruze', 'Aveo', 'Tracker',
       'Clio', 'Sandero', 'Fluence', 'Logan', 'Kangoo', 'kangoo',
       'Partner', 'Captur', 'Duster', '206', '207', '208', '307', '308',
       '407', '408', 'Cronos', 'Toro', 'Argo', 'Fiorino', 'Pulse', '2022',
       'Strada', 'Palio', 'Siena', 'Uno', 'Fiesta', 'Ecosport', 'Ka',
       'Ranger', 'Focus', 'Etios', 'Hilux', '4x4', 'Corolla', 'Yaris',
       'Civic'], dtype=object)

### Variable

In [47]:
print (f'Cantidad de nulos: {df.engine.isna().sum()}')

Cantidad de nulos: 311